<div id="<%= dom_id article %>">
  <p>
    <strong>Image data:</strong>
    <%= image_tag @article.image_url if @article.image %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

 

</div>
