<br>


<div class="container">
  <div class="row">
    <div class="col">
       <div class="col-md-auto">
	      		profile pic
	    </div>
    </div>
    <div class="col">
      <div class="row">
	    <div class="col">
	      <h3> Username</h3>

	    </div>
	    <div class="col">
	      <%= link_to "Edit profile", class: "btn btn-primary" %>
	    </div>
	    <div class="col">
	      	settings

	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col">
	      	posts 
	    </div>
	    <div class="col">
	      followers	
	    </div>
	    <div class="col">
	      following
	    </div>
	  </div>
	  <div class="row">
	    
	    	title
	  </div>
	  <div class="row">
	    	category
	  </div>
	  <div class="row">
	    	description
	  </div>


	</div>
	  
</div>